@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;600&family=Roboto&display=swap');

// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100%;
  background-color: rgb(10, 10, 10);
  cursor: var(--cursor);
  font-family: 'Open Sans', sans-serif;
}


.canvas {
  position: absolute;
  top:0;
  left:0;
}






.box {
	position: fixed;
	bottom: 300px;
	transform: rotate(80deg);
	right: -300px;
  pointer-events: none;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0ebb4b;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}
.animatego {
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	position: fixed;
	background-color: #27ce62;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


// @-webkit-keyframes anim{
//   0% {
//     -webkit-transform: scale(0,0) rotateZ(-90deg);
//     transform: scale(0,0) rotateZ(-90deg);opacity:0
//   }
//   30% {
//     -webkit-transform: scale(1,1) rotateZ(0deg);
//     transform: scale(1,1) rotateZ(0deg);opacity:1
//   }
//   50% {
//     -webkit-transform: scale(1,1) rotateZ(0deg);
//     transform: scale(1,1) rotateZ(0deg);opacity:1
//   }
//   80% {
//     -webkit-transform: scale(0,0) rotateZ(90deg);
//     transform: scale(0,0) rotateZ(90deg);opacity:0
//   }
// }


// @keyframes anim{
//   0% {
//     -webkit-transform: scale(0,0) rotateZ(-90deg);
//     transform: scale(0,0) rotateZ(-90deg);opacity:0
//   }
//   30% {
//     -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
//   }
//   50% {
//     -webkit-transform: scale(1,1) rotateZ(0deg);
//     transform: scale(1,1) rotateZ(0deg);opacity:1
//   }
//   80% {
//     -webkit-transform: scale(0,0) rotateZ(90deg);
//     transform: scale(0,0) rotateZ(90deg);opacity:0
//   }
// }




:root {
  --image-width: 300px;
  --cursor: auto;
  // --aside-width: 400px;
}