



.container {
  position: absolute;
  // height: 500px;
  // margin: 0 auto;
  // height: 100%;
  display: grid;
  place-items: center;
  // padding-bottom: 360px;
  // padding-top: 76px;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}



.imageBox {
  display: grid;
  width: var(--image-width);
  overflow: hidden;
}

.image {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  padding: 4px;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  z-index: 1;
  filter: brightness(0.8) grayscale(100%);
  opacity: 1;
}


.nameBox {
  position: absolute;
  right: 100px;
  top: 61px;
  width: 200px;
  z-index: 20;
  cursor: default;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  .currentlyPlaying {
    color: white;
    text-transform: uppercase;
  }
  .songName {
    position: relative;
    color: white;
    // display:inline-block;
    width: 200px;
    overflow: hidden; 
    white-space: nowrap;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    .firstSpan {
      display:inline-block;
    }
    .firstSpanAnim {
      animation: firstSpanAnim 10s linear;
    }

    @keyframes firstSpanAnim {
      from {
        transform: translate3d(0, 0, 0);
      }
      to {
        transform: translate3d(var(--spanSlideWidth), 0, 0);
      }
    }

    .lastSpan {
      display:inline-block;
    }
    .lastSpanAnim {
      animation: lastSpanAnim 10s linear;
    }
    @keyframes lastSpanAnim {
      from {
        transform: translate3d(0%, 0, 0);
      }
      to {
        transform: translate3d(-100%, 0, 0);
      }
    }

  }
  .songArtist {
    color: gray;
    border-bottom: 2px solid linear-gradient(90deg, rgba(14,187,75,1) 0%, rgba(0,0,0,0) 100%);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
  }
  .underline {
    width: 100%;
    height: 2px;
    background: rgb(14,187,75);
    background: linear-gradient(90deg, rgba(14,187,75,1) 0%, rgba(0,0,0,0) 100%);
    margin: 4px 0;
  }
}

// Media Queries

@media all and (max-width: 1550px) {
  .nameBox {
    right: 20px;
  }
}

@media all and (max-width: 850px) {
  .nameBox {
    right: 8px;
    top: 8px;
  }
}

@media all and (max-width: 720px) {

  .currentlyPlaying {
    display: none;
  }
  .nameBox {
    right: 0px;
    top: 0px;
  }
}

@media all and (max-height: 800px) {
  .container {
    top: calc(50% + 50px)
  }
}

@media all and (max-width: 850px) {
  .container {
    top: calc(50% + 80px);
  }
}